svg(xmlns="http://www.w3.org/2000/svg" style="display: none")
  path(id="dish-mask" d="M0 0h440v440H0V0zm411.606 34.63a10 10 0 0 0-6.235-6.235C349.9 9.465 288.1 0 220 0S90.11 9.465 34.63 28.394a10 10 0 0 0-6.235 6.235C9.465 90.1 0 151.9 0 220s9.465 129.9 28.394 185.37a10 10 0 0 0 6.235 6.235C90.11 430.535 151.9 440 220 440s129.89-9.465 185.372-28.394a10 10 0 0 0 6.235-6.235C430.535 349.9 440 288.1 440 220s-9.465-129.9-28.394-185.37z" fill-rule="evenodd")

mixin dish-mask
  svg(xmlns="http://www.w3.org/2000/svg" width="450" height="450" viewBox="0 0 440 440")&attributes(attributes)
    use(href="#dish-mask")