.logo {
  display: block;
  width: 128px;
  height: auto;

  @media (--md) {
    width: 192px;
  }

  @media (--lg) {
    width: 256px;
  }

  picture {
    display: flex;
    justify-content: center;
  }
}