mixin popular
  section.popular
    h1.popular__title Популярные <br> товары
    +products(collections.popular)

    div.popular__button-container
      a(href="/products").popular__button Посмотреть все товары