mixin product
  div.container.product: div.row
    div.product__img-container
      +mask
        +picture(config.productsImgFolder + photo, title)

    div.product__description-container
      h1 !{ functions.formatTitle(title) }
      div.product__description !{ content }
      div.product__price-block
        p.product__price #{ functions.formatNumber(price) }-
        p.product__price-description Цена за #{ amount }