mixin why
  section.why
    h2.why__heading Почему <br> рецепты мясника?
    div.row
      div.why__item
        div.why__img.why__img--cutlery
        p.why__text.h2 Ручное производство
      div.why__item
        div.why__img.why__img--meat
        p.why__text.h2 Фермерское мясо
      div.why__item
        div.why__img.why__img--spices
        p.why__text.h2 Уникальная рецептура
      div.why__item
        div.why__img.why__img--fire
        p.why__text.h2 Натуральное копчение
